{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <h2>{{ page.sub_title }}</h2>
    
    {% for block in page.body %}
        {% if block.block_type == 'text' %}
        
            <p>{{ block.value }}</p>
        
        {% elif block.block_type == 'image' %}
        
            {% image block.value fill-800x400 %}
        {% elif block.block_type == 'doc' %} }}
            <a href="{{ block.value.url }}">{{ block.value.title }}</a>
        {% elif block.block_type == 'page' %}
            <a href="{{ block.value.url }}">{{ block.value.title }}</a>
{#        {% elif block.block_type == 'embed' %}#}
{#            {{ block.value }}#}
        {% endif %}
    {% endfor %}
    <h3>Tags:</h3>
    {% for tag in page.tags.all %}
        <li><a href="{{ self.get_parent.url }}?tag={{ tag.slug }}">{{ tag }}</a></li>
    {% endfor %}
{% endblock %}