{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <h2>{{ page.sub_title }}</h2>
    
    {% for block in page.body %}
        {% if block.block_type == 'text' %}
        
            <p>{{ block.value }}</p>
        
        {% elif block.block_type == 'image' %}
        
            {% image block.value fill-800x400 %}
        
        {% endif %}
    {% endfor %}
    <h3>Tags:</h3>
    {% for tag in page.tags.all %}
        <li><a href="/blog/?tag={{ tag.slug }}">{{ tag.name }}</a></li>
    {% endfor %}
{% endblock %}